section.invest-section
  .wrapper
    .invest-section__container
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-header
              .invest-section__card-title.font-s-36.text-up Без офиса
            .invest-section__card-body
              .invest-section__card-sub-title
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="67" height="67" alt="icon")
                .font-s-24.text-up Инвестиции: <br> 1,2 млн рублей
              img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="685" height="693" alt="image")
              .font-w-semi-bold.font-s-24.text-center.text-up Получите подробное <br> описание формата в 1 клик
              form.invest-section__form(data-feedback-form)
                input.input.input--color-brown(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
                input.input.input--color-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
                button.btn.btn--color-brown.invest-item-btn(type="submit") Получить
          .invest-section__card.swiper-slide
            .invest-section__card-header
              .invest-section__card-title.font-s-36.text-up С офисом
            .invest-section__card-body
              .invest-section__card-sub-title
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="67" height="67" alt="icon")
                .font-s-24.text-up Инвестиции: <br> 2,3 млн рублей
              img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="685" height="693" alt="image")
              .font-w-semi-bold.font-s-24.text-center.text-up Получите подробное <br> описание формата в 1 клик
              form.invest-section__form(data-feedback-form)
                input.input.input--color-brown(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
                input.input.input--color-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
                button.btn.btn--color-brown.invest-item-btn(type="submit") Получить
        .invest-pagination.swiper-progress-invest
